<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Notification</title>
</head>
<body>
    <h1>Dear Sponsor, here is your Monthly Notification</h1>
    <p><strong>Total Campaign Budget:</strong> ${{ Total_campaign_Budget }}</p>
    <p><strong>Accepted Ad Requests:</strong> {{ Accepted_Ad_Request }}</p>
    <p><strong>Rejected Ad Requests:</strong> {{ Rejected_Ad_Request }}</p>
    <p><strong>Pending Ad Requests:</strong> {{ Pending_Ad_Request }}</p>
</body>
</html>


<!--Total_campaign_Budget=total, Accepted_Ad_Request=a_ad_req, Rejected_Ad_Request=r_ad_req, Pending_Ad_Request=p_ad_req-->